# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Raw / Processed datasets
data/raw/
data/processed/
*.parquet

# Large dataset files
*.pcap
*.pcapng

# OS / IDE
.DS_Store
.vscode/
.idea/
